<div class="blog-box-wrap">
  <h4>{{ content.field_text_01 }}</h4>
  <hr>
  <input type="text" name="" data-field="field_text_01_value" class="sidebar-search" data-url="{{ url('<front>') }}{{ autumn_blogurl }}?">
</div>

<div class="blog-box-wrap">
  <h4>{{ content.field_text_02 }}</h4>
  <hr>
  <p>
    <ul>
      {{ content.field_block_01 }}
    </ul>
  </p>
</div>

<div class="blog-box-wrap">
  <h4>{{ content.field_text_03 }}</h4>
  <hr>
  <p>
    <ul>
      {{ content.field_block_02 }}
    </ul>
  </p>
</div>

<div class="blog-box-wrap blog-box-wrap-recent">
  <h4>{{ content.field_text_04 }}</h4>
  <hr>
  <p>
    <ul>
      {{ content.field_block_03 }}
    </ul>
  </p>
</div>

{# <div class="blog-box-wrap">
  <h4>Recent comments</h4>
  <hr>
  <p>
    <ul>
      {{ content.field_block_04 }}
      <li>
        admin on <a href="blog-post-only-text.html">Blog post only text</a>
      </li>
      <li>
        guest on <a href="blog-post-only-text.html">Blog post only text</a>
      </li>
    </ul>
  </p>
</div> #}
