{% set linkurl = content.field_link_01[0]['#url']|render %}
{% set linktitle = content.field_link_01[0]['#title']|render %}

{% set scrollIdBool = false %}
{% if content.field_scroll_id|render %}
  {% set scrollIdBool = true %}
  {% set scrollIdVal = content.field_scroll_id|render|striptags|trim|replace({'#': ''}) %}
{% endif %}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'panel-blog-teaser default-panel-padding'
  ]
%}

<section {{ attributes.addClass(classes) }} {% if scrollIdBool %} id="{{scrollIdVal}}"{% endif %} data-paragraph-id="{{ paragraph.id() }}">
  {{ title_suffix }}

  <div class="max-width">
    <div class="row row-headline">
      <div class="col-12">
        {{ content.field_area_01 }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="blog-post-tesaer-wrap">
          {{ content.field_block_01 }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="btn-outer-wrap">
          <a href="{{ linkurl }}" class="cta" title="{{ linktitle }}">{{ linktitle }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
