<footer id="footer" class="default-panel-padding color-bg-secondary {% if content.field_area_plain_01|render %}with-map{% else %}without-map{% endif %}">
  <div class="max-width">
    <div class="hidden-footer-with-map-only-preview">
      <div class="row align-row-stretch">
        {% if content.field_area_plain_01|render %}
          <div class="col-7 map-col">
            <div class="maps-target-lazy-load" data-lazy-src="{{ content.field_area_plain_01|render|striptags|trim }}"></div>
          </div>
          <div class="col-5">
            {{ content.field_area_01 }}

            <div class="social">
              <h4>{{ content.field_text_01 }}</h4>
              <ul>
                {{ content.field_paragraph_unlimited_01 }}
              </ul>
            </div>

            {% if content.field_language_switcher_01|render %}
              {% include directory ~ '/templates/includes/language-switcher-custom.html.twig' %}
            {% endif %}
          </div>
        {% else %}
          <div class="col-3 desktop">&nbsp;</div>
          <div class="col-6">
            {{ content.field_area_01 }}

            <div class="social">
              <h4>{{ content.field_text_01 }}</h4>
              <ul>
                {{ content.field_paragraph_unlimited_01 }}
              </ul>
            </div>

            {% if content.field_language_switcher_01|render %}
              {% include directory ~ '/templates/includes/language-switcher-custom.html.twig' %}
            {% endif %}
          </div>
          <div class="col-3 desktop">&nbsp;</div>
        {% endif %}
      </div>
    </div>

    <div class="hidden-footer-without-map-only-preview" style="display:none;">
      <div class="row align-row-stretch">
        <div class="col-3 desktop">&nbsp;</div>
        <div class="col-6">
          {{ content.field_area_01 }}

          <div class="social">
            <h4>{{ content.field_text_01 }}</h4>
            <ul>
              {{ content.field_paragraph_unlimited_01 }}
            </ul>
          </div>

          {% if content.field_language_switcher_01|render %}
            {% include directory ~ '/templates/includes/language-switcher-custom.html.twig' %}
          {% endif %}
        </div>
        <div class="col-3 desktop">&nbsp;</div>
      </div>
    </div>

    <div class="row row-legal">
      <div class="col-1 desktop">&nbsp;</div>
      <div class="col-10">
        <ul>
          {{ content.field_link_unlimited_01 }}
        </ul>
      </div>
      <div class="col-1 desktop">&nbsp;</div>
    </div>
  </div>
  <div class="row row-copyright">
      <div class="col-1 desktop">&nbsp;</div>
      <div class="col-10 panel-text"><p>
        &copy;
    {{ "now"|date("Y") }}
    tjgillespie.photography, All Rights Reserved</p>
      </div>
      <div class="col-1 desktop">&nbsp;</div>
    </div>
  </div>
</footer>

{% if content.field_language_switcher_01|render %}
  <div id="hidden-language-switcher" style="display:none;">
    {{ content.field_language_switcher_01 }}
  </div>
{% endif %}
